.single-blog {
   .single-blog__main-title {
      margin-top: 20px;
      margin-bottom: 24px;
   }
   .section-content {
      font-family: Roboto;
      font-style: normal;
      margin-bottom: 52px;
   }
}
@media (max-width: 500px) {  
   .single-blog { 
      .section-title {
         margin-top: 34px;
      }
   }
}