.single-blog {
   .single-blog__main-title {
      margin-top: 20px;
      margin-bottom: 24px;
   }
   .section-content {
      font-family: Roboto;
      font-style: normal;
      margin-bottom: 52px;
   }
}