.blog-section{
   padding-top: 60px;
   .blog-inner{
      display: flex;
      justify-content: space-between;
      .add-card-wrap {
         width: 30%; 
         a:hover{
            h2 {
               color:#003333;
            }
         }
      }
      .main-card-wrap {
         width: 60%;
         display: flex;
         justify-content: space-between;
      }

      .blog-inner__main-card {
      
      width: 48%;
      }
      .main-card__img{
      width: 100%;
      height: 186px;
      background-repeat: no-repeat;
      background-size: cover;
      }
      .main-card__img:hover {
         transform: scale(1.05);

      }
      .main-card__title {
         margin-top: 5px;
         font-family: Montserrat;
         
font-style: normal;
font-weight: 600;
font-size: 18px;
/* identical to box height, or 222% */

letter-spacing: 0.09em;
text-transform: uppercase;

color: #FFFFFF;
      }
      .main-card__text {
         font-family: Montserrat;
         font-style: normal;
         font-weight: normal;
         font-size: 14px;
         /* identical to box height, or 286% */
         
         letter-spacing: 0.09em;
         
         color: #FFFFFF;
         
      }
      .main-card__date {
         text-align: right;
         font-family: Montserrat;
         font-style: normal;
         font-weight: 600;
         font-size: 14px;
         /* or 286% */
         letter-spacing: 0.585em;
         text-transform: uppercase;
         
         color: #FFFFFF;
      }

   }
}