.section-title.section-title-calendar {
   margin-top: 0px;
}

.calendar-move-right {
     
   width: 40px;
   height: 40px;
 
   

   z-index: 50;
   
position: -webkit-sticky;
 position: sticky;
 top: 500px;
 left:90%;

   cursor: pointer;
 //  float: right;
}
.calendar {
   
   height: auto;
   min-height: 25rem;
   width: 100%;
   overflow:auto;
   
   .row {
     
      position: relative;
      margin-top: 0px;
      margin-bottom: 60px;
      display: flex;
     // justify-content: space-between;
      flex-wrap: nowrap;
      
      
      
      
   }
   .calendar-body {
      margin-left: 48px;
      overflow: scroll;
      cursor: all-scroll;
      position: relative;
      

      &::-webkit-scrollbar {
         display: none;
       }
      
   }
  
   
   
      
   .col-title {
      
      
      margin-bottom: 10px;
      min-width: 1146px;
      display: flex;
     // justify-content: space-around;
      flex-wrap: nowrap;
      
      margin-left: 88px;
      p{
         display: flex;
         justify-content: center;
         align-items: center;
         min-width: 300px;
         font-family: 'Yrsa',sans-serif;
         font-size: 48px;
        
         /* or 0% */
         
         display: flex;
         align-items: center;
         text-align: center;
         letter-spacing: -0.04em;
         text-transform: uppercase;

         color: rgba(255, 255, 255, 0.48);
margin-bottom: 0px;
margin-right: 56px;

      }
   }
   .row-title-wrap {
      margin-right: 73px;
      display: block;
      width: 25px;
   }
   .row-title {
      position: absolute;
      
      display: block;
      width: 25px;
      overflow-wrap: break-word;
      
      p{
         
         margin-bottom: 0px;
         display: inline;
         //transform: rotate(450deg);
         height: 100%;

         font-family: 'Yrsa',sans-serif;
font-style: normal;
font-weight: 500;
font-size: 28px;

text-align: center;
text-transform: uppercase;
color: #EEFAF8;
      }
   }


   // CARD START
   .calendar-card {
      a {
         text-decoration: none;
      }
      margin-right: 56px;
      width: 300px;
      height: 320px;
      background: rgba(20, 224, 200, 0.2);
     box-shadow: 0px 5px 4px 3px #045651;
      border-radius: 10px;
      padding: 0px;
   &:hover {
      
         //transform: scale(1.01);
        // box-shadow: 0px 8px 5px 5px aqua;
         .calendar-card_img-block {
            opacity: 1;
            p { 
            box-shadow: inset 147px 0 0 0 rgba(17, 194, 173, 1);
            color: #fff;
            }
         }
       
      
   }

   }
   .calendar-card-empty {
      margin-left: 48px;
      width: 300px;
      height: 320px;
   background: none;
   box-shadow: none;
   border-radius: 10px;
   }
   .calendar-card__date {
      width: 300px;
height: 25px;

font-family: Yrsa;
font-style: normal;
margin-top: 25px;


      p {
         font-family: Yrsa;
         font-style: normal;
         font-weight: 300;
         font-size: 24px;
       
         text-align: center;
         letter-spacing: 0.1em;
         text-transform: uppercase;
         color: #FFFFFF;
         margin-bottom: 0px;
        
      }
   }
   .calendar-card__text {
width: 300px;
height: 53px;
      display: flex;
      justify-content: center;
      text-align: center;
      h3{
         font-family: 'Yrsa',sans-serif;
font-style: normal;
font-weight: 300;

line-height: 20px;

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.15em;
text-transform: uppercase;
margin-bottom: 0px;
color: #FFFFFF;

      }
   }
   .calendar-add-block {
      margin: -17px auto;
      display: flex;
      justify-content: space-between;
      height: 34px;
      width: 224px;
      .calendar-add {
         display: block;
         width: 18px;
         height: 34px;
         background: #045651;
         box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
         border-radius: 5px;
      }

   }
   .calendar-card_img-block {
      width: 300px;
      height: 216px;
      opacity: 85%;
      
      
      background-image: url(/img/ci.png);
      background-repeat: no-repeat;
      background-size: cover;
      overflow: hidden;
      position:relative;
      margin-bottom: 0px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      border-radius: 0px 0px 10px 10px;
     // img {
       //  height: 100%;
     //   width: auto;
     //   padding-bottom: 10px;
    //  }
    
      p {
         
         display: block;
         width: 122px;
height: 26px;
text-align: center;
 
background: rgba(47, 44, 44, 0.69);
border-radius: 5px;
 font-family: Roboto;
 font-style: normal;
 font-weight: 300;
 font-size: 14px;
 line-height: 18px;
 
 display: flex;
 align-items: center;
 text-align: center;
 justify-content: center;
 letter-spacing: 0.15em;
transition: all ease 0.8s;
color: #FFFFFF;
margin-bottom: 8px;
      }
   }
 
   // CARD END
   .row-title-mobail {
      display: none;
   }


}
@media (max-width: 1146px) {
   .calendar {
   .calendar-body {
     margin-left: 0px;
     
   }
}
 }