.change-mongolia { 
   transform-box: fill-box;
      transform-origin:15% 79%;
      transform:rotate(90deg);
      fill:aqua !important;
}
.change-kamchatka {
   transform-box: fill-box;
      transform-origin:15% 79%;
      transform:rotate(360deg);
      fill:aqua;
}