#test {
   z-index: 4;
}
.map-block {

   .hidden {
      
      display: none;
   }

   position: relative;
   display: flex;
   flex-wrap: nowrap;
   margin-top: 30px;
   z-index: 10;
   .search-input {
   border:none;
   margin-bottom: 15px;
   padding-left: 35px;
   width: 261px;
   height: 29px;
   margin-top: 5px;
   font-family: Montserrat;
   font-weight: 300;
   font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 40px;
letter-spacing: 0.1em;
text-align: left;
color: white;
margin-right: 16px;
      background: rgba(17, 194, 173, 0.53);
      
      background-repeat: no-repeat;
      background-position-x: 3%;
      background-position-y: 50%;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 3px;
   }
   input:active, :hover, :focus {
      outline: 0;
      outline-offset: 0;
  }
   input::placeholder {
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 40px;
      
    
      align-items: center;
      letter-spacing: 0.085em;
      text-transform: lowercase;
      text-align: left;
      color: white;
    }
    input:focus::placeholder {
       color: transparent;
    }
   
    .map_block__menu {
      overflow: auto;
      
    }
   
    

    
   .accordion {
      
      max-height: 450px;
      overflow: auto;
      position: relative;
      z-index: 2;
      background: rgba(161, 172, 172, 0.22);
      margin-left: -18px;
      padding-left: 18px;
   border-radius: 5px;
      border: none;
      .accordion-item{
         
         margin-bottom: 10px;
         border: none;
         
      }
      .accordion-body {
         
         margin: 0;
         padding: 0;
      }
   .accordion-button{
      
      margin: 0;
   padding: 0;
      background-color: transparent;
   border: none;
   font-family: 'Yrsa',sans-serif;
   
font-style: normal;
font-weight: 600;
font-size: 26px;
line-height: 40px;
color:white;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
   }
   .accordion-button:not(.collapsed) {
      
      background-color: none;
      box-shadow: none;
  }
  .accordion-button:focus{
   z-index: 5;
   border-color: none;
   text-decoration: underline;
   box-shadow: none;
   color: #11C2AD;
  }
  .accordion-button:hover{
   z-index: 5;
   text-decoration: underline;
   color: #11C2AD;
  }
  
  .accordion-button::after {
display: none;
}
.accordion-list{
   
   list-style: none;
   margin: 0;
   padding: 0;
   .accordion-item {
      
      a {
         text-decoration: none;
         font-family: 'Yrsa',sans-serif;
font-style: normal;
font-weight: 600;
font-size: 18px;
margin-left: 30px;
   padding: 0;

letter-spacing: 0.21em;
text-transform: uppercase;

color: #11C2AD;
      }
      a:hover {
         color:white;
      }
   }
}
}
}
.map-block__map {
   z-index: 1;
   
  
   height: 1600px;
   
   .main-map {
    

      @font-face { font-family:"Book Antiqua";font-variant:normal;font-weight:bold;src:url("#FontID0") format(svg)}
      .str4 {stroke:#888888;stroke-width:77.1;stroke-miterlimit:22.9256}
      .str1 {stroke:#99FFFF;stroke-width:77.1;stroke-miterlimit:22.9256}
      .str0 {stroke:#E6E6E6;stroke-width:77.1;stroke-miterlimit:22.9256}
      .str2 {stroke:#E6E6E6;stroke-width:77.1;stroke-miterlimit:22.9256}
      .str3 {stroke:#99FFFF;stroke-width:171.4;stroke-miterlimit:22.9256}
      .str6 {stroke:aqua;stroke-width:226.8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
      .str5 {stroke:#99FFFF;stroke-width:226.8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:22.9256}
      .fil0 {fill:none}
      .fil1 {fill:none;fill-rule:nonzero}
      .fil3 {fill:aqua}
      .fil2 {fill:aqua;fill-rule:nonzero}
      .fnt1 {font-weight:bold;font-size:2419px;font-family:'Book Antiqua'}
      .fnt2 {font-weight:bold;font-size:2721.4px;font-family:'Book Antiqua'}
      .fnt0 {font-weight:bold;font-size:3023.8px;font-family:'Book Antiqua'}

    position: absolute;
    width: 120%;
    height: 100%;
    top:-35%;
    left: -15%;
    //right: -46em;
   }
   .add-map {
      

      position: absolute;
      width: 70%;
      height: 100%;
      top:-30%;
      left: 30%;
   }
   .yakutia-map {
      @font-face { font-family:"Book Antiqua";font-variant:normal;font-style:normal;font-weight:normal;src:url("#FontID0") format(svg)}
      .str1 {stroke-width:15.1;stroke-miterlimit:22.9256}
      .str3 {stroke:white;stroke-width:121.9;stroke-miterlimit:22.9256}
      .str0 {stroke:white;stroke-width:73.6;stroke-miterlimit:22.9256}
      .str2 {stroke:white;stroke-width:76.2;stroke-miterlimit:22.9256}
      .fil2 {fill:none}
      .fil1 {fill:white}
      .fil4 {fill:aqua;fill-rule:nonzero}
      .fil3 {fill:white;fill-rule:nonzero}
      .fil0 {fill:url(#id0)}
      .fil5 {fill:url(#id1);fill-rule:nonzero}
      .fil8 {fill:url(#id2);fill-rule:nonzero}
      .fil9 {fill:url(#id3);fill-rule:nonzero}
      .fil10 {fill:url(#id4);fill-rule:nonzero}
      .fil6 {fill:url(#id5);fill-rule:nonzero}
      .fil7 {fill:url(#id6);fill-rule:nonzero}
      .fnt1 {font-weight:normal;font-size:5050px;font-family:'Book Antiqua'}
      .fnt0 {font-weight:normal;font-size:5050.3px;font-family:'Book Antiqua'}
   }
}
@media (max-width: 1256px) { 

   .map-block__map {
      z-index: 1;
      
     
      height: 1600px;
      .main-map {
      
       position: absolute;
       width: 120%;
       height: 100%;
       top:-35%;
       left: -20%;
       //right: -46em;
       
       
     
      }
   }

}
@media (max-width: 776px) {  
   .map-block {
     
      .search-input {
        
   font-size: 10px;
 
   font-weight: 300;
   line-height: 30px;
  
         width: 180px;
         height: 26px;
         
      }
      input::placeholder {
         
         font-size: 13px;
        
       }
       
      .accordion {
         overflow: auto;
         .accordion-item{
            margin-bottom: 10px;
            border: none;
            
         }
         .accordion-body {
            margin: 0;
            padding: 0;
         }
      .accordion-button{
       
   font-size: 20px;
   line-height: 30px;
   
      }
      .accordion-button:not(.collapsed) {
         
        
     }
     .accordion-button:focus{
     
     }
     .accordion-button:hover{
    
     }
     
     .accordion-button::after {
   display: none;
   }
   .accordion-list{
     
      .accordion-item {
         a {
           
   font-size: 14px;
   margin-left: 20px;
    
         }
         a:hover {
            color:white;
         }
      }
   }
   }
   }
   .map-block__map {
      z-index: 1;
      
     
      height: 1000px;
      .main-map {
      
       
       
       
     
      }
   }
}
@media (max-width: 742px) {  
   .map-block__map {
      z-index: 1;
      
     
      height: 800px;
      .main-map {
         width: 100%;
         transform: scale(1.4);
         height: 100%;
         top:-32%;
         left: -15%;
       
       
       
     
      }
   }
    
    
    
  
   }

@media (max-width: 551px) { 

   .map-block {
      
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      margin-top: 0px;
      
      .search-input {
         border:none;
         margin-bottom: 8px;
        padding-left: 35px;
        width: 271px;
        height: 29px;
        margin-top: 5px;
        
         font-family: Montserrat;
         font-weight: 300;
         font-size: 14px;
   font-style: normal;
   font-weight: 300;
   line-height: 40px;
   letter-spacing: 0.1em;
   text-align: left;
   color: white;
   margin-right: 9px;
         background: rgba(17, 194, 173, 0.53);
         background-image: url('/img/icons/se.png');
         background-repeat: no-repeat;
         background-position-x: 3%;
         background-position-y: 50%;
         box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
         border-radius: 3px;
       
       
         
      }
      input::placeholder {
        
       }
       .map-block__menu {
          order: 1;
          margin: 0 auto;
          width: 280px;
       }
      .accordion {
         width: auto;
         position: relative;
         z-index: 2;
         background: rgba(161, 172, 172, 0.22);
         margin-left: -10px;
         padding-left: 10px;
   
         .accordion-item{
            margin-bottom: 0px;
            border: none;
            
         }
         .accordion-body {
            margin: 0;
            padding: 0;
         }
      .accordion-button{
       
      }
      .accordion-button:not(.collapsed) {
         
         background-color: none;
         box-shadow: none;
     }
     .accordion-button:focus{
      
     }
     .accordion-button:hover{
   
     }
     
     .accordion-button::after {
   display: none;
   }
   .accordion-list{
     
      .accordion-item {
         a {
            text-decoration: none;
            font-family: 'Yrsa',sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 14px;
   margin-left: 20px;
      padding: 0;
   
   letter-spacing: 0.21em;
   text-transform: uppercase;
   
   color: #11C2AD;
         }
         a:hover {
            color:white;
         }
      }
   }
   }
   }

 .map-block__map {
   z-index: 1;
   
  
   height: 400px;
   margin-bottom: 30px;
   .main-map {
     
    position: absolute;
    
    transform: scale(1.8);
    width: 100%;
    height: 100%;
    top:-25%;
    left: -35%;
   //margin-top: 50px;
    //right: -46em;
    
    
  
   }
   .add-map {
      position: absolute;
      width: 85%;
      height: 100%;
      top:-25%;
      left: 10%;
   }
}

}

@media (max-width: 401px) { 


   .map-block {
      
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      margin-top: 0px;
      
      .search-input {
         
         margin-bottom: 5px;
       
       
         
      }
      input::placeholder {
        
       }
       
      .accordion {
         position: relative;
         z-index: 2;
         background: rgba(161, 172, 172, 0.22);
         margin-left: -10px;
         padding-left: 10px;
   
         .accordion-item{
           
            
         }
         .accordion-body {
            margin: 0;
            padding: 0;
         }
      .accordion-button{
        
      }
      .accordion-button:not(.collapsed) {
         
         background-color: none;
         box-shadow: none;
     }
     .accordion-button:focus{
      
     }
     .accordion-button:hover{
   
     }
     
     .accordion-button::after {
   display: none;
   }
   .accordion-list{
     
      .accordion-item {
         a {
            text-decoration: none;
            font-family: 'Yrsa',sans-serif;
   font-style: normal;
   font-weight: 600;
   font-size: 12px;
   margin-left: 20px;
      padding: 0;
   
   letter-spacing: 0.21em;
   text-transform: uppercase;
   
   color: #11C2AD;
         }
         a:hover {
            color:white;
         }
      }
   }
   }
   }

 .map-block__map {
   z-index: 1;
   
  
   height: 400px;
   .main-map {
     
    position: absolute;
    
    transform: scale(1.9);
    width: 100%;
    height: 100%;
    
    left: -35%;
   //margin-top: 50px;
    //right: -46em;
    
    
  
   }
   .add-map {
      position: absolute;
      width: 100%;
      height: 100%;
      top:-25%;
      left: 0%;
   }
}
}
