.scout-wrapper {
   position: relative;
   
}
.scout {
   
   height: 467px;
   
   background-image: url(/img/sb.png);
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   
   
   .scout-body {
      display: flex;
      //position: relative;
   }
   
   .scout-inner {
      
      
   }
   ul {
      padding: 0;
      padding-top: 25px;
      
   }
   li {
      display: block;
      
      margin-bottom: 30px;
      list-style: none; 
      img {
         height: 80px;
         width: 80px;
      }
      p {
         
         display: inline;
         margin: 0;
         margin-left: 25px;
         font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 22px;
/* identical to box height, or 142% */

align-items: center;
letter-spacing: 0.15em;

color: #FFFFFF;
      }
     }
     li {
        p:hover{
        color:#ccffcc;
        }
        
     }


}
@media (max-width: 830px) {  

   .scout {
   
      height: 467px;
      
      background-image: url(/img/sb.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      
      
      .scout-body {
         display: flex;
         position: relative;
      }
      
      .scout-inner {
         
         
      }
      ul {
         padding: 0;
         padding-top: 20px;
         
      }
      li {
         display: block;
         
         margin-bottom: 20px;
         list-style: none; 
         img {
            height: 75px;
            width: 75px;
         }
         p {
            
            display: inline;
            margin: 0;
            margin-left: 15px;
            font-family: Montserrat;
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   /* identical to box height, or 142% */
   
   align-items: center;
   letter-spacing: 0.15em;
   
   color: #FFFFFF;
         }
        }
        li {
           p:hover{
           color:#ccffcc;
           }
           
        }
   
   
   }

}

@media (max-width: 611px) {  

   .scout {
   
      height: 467px;
      
      background-image: url(/img/sb.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      
      margin-bottom: 400px;
      .scout-body {
         display: block;
         position: relative;
      }
      
      .scout-inner {
         
         
      }
      ul {
         padding: 0;
         padding-top: 20px;
         
      }
      li {
         display: block;
         
         margin-bottom: 20px;
         list-style: none; 
         img {
            height: 75px;
            width: 75px;
         }
         p {
            
            display: inline;
            margin: 0;
            margin-left: 15px;
            font-family: Montserrat;
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   /* identical to box height, or 142% */
   
   align-items: center;
   letter-spacing: 0.15em;
   
   color: #FFFFFF;
         }
        }
        li {
           p:hover{
           color:#ccffcc;
           }
           
        }
   
   
   }

}

@media (max-width: 400px) {  
   
   .scout {
   
      height: 420px;
      
      background-image: url(/img/sb.png);
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      
      margin-bottom: 250px;
      .scout-body {
         display: block;
         position: relative;
      }
      
      .scout-inner {
         
         
      }
      ul {
         padding: 0;
         padding-top: 20px;
         
      }
      li {
         display: block;
         
         margin-bottom: 10px;
         list-style: none; 
         img {
            height: 60px;
            width: 60px;
         }
         p {
            
            display: inline;
            margin: 0;
            margin-left: 15px;
            font-family: Montserrat;
   font-style: normal;
   font-weight: 500;
   font-size: 15px;
   /* identical to box height, or 142% */
   
   align-items: center;
   letter-spacing: 0.15em;
   
   color: #FFFFFF;
         }
        }
        li {
           p:hover{
           color:#ccffcc;
           }
           
        }
   
   
   }
}