
.scout-wrapper {
  // position: relative;
  overflow: hidden;
  .section-title {
     margin-top: 24px;
  }
   
}
.scout {
   
   height: auto;
   
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   
   
   .scout-body {
      display: flex;
      justify-content: space-between;
      min-height: 490px;
      //position: relative;
   }
   
   .scout-inner {
      max-width: 680px;
      
   }
   ul {
      padding: 0;
   
      
   }
   li {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      
      margin-bottom: 18px;
      list-style: none; 
      img {
         width: 40px;
         height: 40px;
         margin-right: 33px;
      }
      p {
         margin: 0px;
         display: inline;
         font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
/* or 139% */
z-index: 20;
display: flex;
align-items: center;
letter-spacing: 0.035em;
text-transform: lowercase;
color: #FFFFFF;
      }
     }
     li {
        p:hover{
        color:#ccffcc;
        }
        
     }


}


@media (max-width: 1000px) {  

   .scout {
   
     
      
      
      .scout-body {
         display: block;
         
      }
      
      .scout-inner {
         max-width: 100%;
         width: 100%;
         
      }
      ul {
         padding: 0;
         width: 100%;
         
      }
      li {
         display: flex;
         width: 100%;
         align-items: center;
         justify-content: space-between;
         
      
         list-style: none; 
         img {
            
         }
         p {
            width: 100%;
           
         }
        }
        li {
           p:hover{
           color:#ccffcc;
           }
           
        }
   
   
   }

}
@media (max-width: 480px) {   

   .scout {
   
     
      
      
      .scout-body {
         display: block;
         
      }
      
      .scout-inner {
         width: 100%;
         
      }
      ul {
         padding: 0;
        
         
      }
      li {
         display: flex;
         align-items: center;
         justify-content: flex-start;
         
         margin-bottom: 18px;
         list-style: none; 
         img {
           
         }
         p {
            font-size: 16px;
            display: inline;
            margin: 0;
           
         }
        }
        li {
           p:hover{
           color:#ccffcc;
           }
           
        }
   
   
   }
}
