.section-title {
   margin-top: 46px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;

   .section-title__left {

      .section-title__img {
         img {
            width:74px;
             height:60px;
         }
      }
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;
      .section-title__text {
         margin-left: 20px;
         margin-top: 10px;
         h4 {
            font-family: Montserrat;
            font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 40px;
display: flex;
align-items: center;
letter-spacing: 0.61em;
text-transform: uppercase;
color: #11C2AD;
         }
      }
   }
   .show-more {
   display: flex;
   flex-direction: row;
   align-items: center;
   text-align:center;
   img {
      margin-left: 7px;
   }
   .show-more__text {
      position: relative;
      z-index: 10;
      margin-top: 18px;
      font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 40px;
/* or 250% */
letter-spacing: 0.09em;
display: flex;
align-items: center;
text-align: right;

color: #E0FCF9;
   }
   .show-more__text:hover {
      color:grey;
   }
   }
}
.section-body__main-title {

   margin-bottom: 40px;
   margin-top: 10px;
   h2 {
      font-family: 'Yrsa',sans-serif;
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
/* or 111% */

display: flex;
align-items: center;
letter-spacing: 0.13em;
text-transform: uppercase;

color: #FFFFFF;
}
}
@media (max-width: 609px) {
   
   .section-title {
      margin-top: 30px;
     
   
      .section-title__left {
        
         .section-title__text {
            margin-left: 5px;
            margin-top: 10px;
            h4 {
              
   font-weight: 600;
   font-size: 14px;
   line-height: 30px;
  
            }
         }
      }
      .show-more {
      
      img {
         margin-left: 4px;
      }
      .show-more__text {
         position: relative;
         z-index: 10;
         margin-top: 14px;
         font-family: Montserrat;
   font-style: normal;
   font-weight: normal;
   font-size: 13px;
   line-height: 12px;
   /* or 250% */
   letter-spacing: 0.09em;
   display: flex;
   align-items: center;
   text-align: right;
   
   color: #E0FCF9;
      }
      .show-more__text:hover {
         color:grey;
      }
      }
   }
   .section-body__main-title {
   
      margin-bottom: 30px;
      margin-top: 10px;
      h2 {
         font-family: 'Yrsa',sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 30px;
   line-height: 40px;
   /* or 111% */
   
   display: flex;
   align-items: center;
   letter-spacing: 0.13em;
   text-transform: uppercase;
   
   color: #FFFFFF;
   }
   }
   
}



@media (max-width: 490px) {
   
   .section-title {
      margin-top: 10px;
     
   
      .section-title__left {
        
         .section-title__img {
            img {
               width:60px;
                height:50px;
            }
         }

         .section-title__text {
            margin-left: 0px;
            margin-top: 10px;
            h4 {
               letter-spacing: 0.09em;
   font-weight: 600;
   font-size: 13px;
   line-height: 20px;
  
            }
         }
      }
      .show-more {
      
      img {
         width: 20px;
         margin-left: 0px;
      }
      .show-more__text {
         position: relative;
         z-index: 10;
         margin-top: 16px;
         font-family: Montserrat;
   font-style: normal;
   font-weight: normal;
   font-size: 13px;
   line-height: 12px;
   /* or 250% */
   letter-spacing: 0.04em;
   display: flex;
   align-items: center;
   text-align: right;
   
   color: #E0FCF9;
      }
      .show-more__text:hover {
         color:grey;
      }
      }
   }
   .section-body__main-title {
   
      margin-bottom: 30px;
      margin-top: 10px;
      h2 {
         font-family: 'Yrsa',sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 25px;
   line-height: 30px;
   /* or 111% */
   
   display: flex;
   align-items: center;
   letter-spacing: 0.10em;
   text-transform: uppercase;
   
   color: #FFFFFF;
   }
   }
   
}