@import "video";
@import "header";
@import "map-block";
@import "calendar";
@import "scout";
@import "blog-section";
@import "footer";
@import "compas";

body {
  background: linear-gradient(180deg, #02201C 22.22%, #06443D 30.22%, rgba(9, 102, 91, 0.893633) 80.7%, #11C2AD 93.82%);
  position: relative;
  overflow-x: hidden;
}
.my-btn {
   padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
.my-link {
  text-decoration:none;
}
