.video-block {
   position: relative;
   background-color: black;
   height: 100vh;
   min-height: 25rem;
   width: 100%;
   overflow: hidden;
 }
 
 .video-block video {
   position: absolute;
   top: 50%;
   left: 50%;
   min-width: 100%;
   min-height: 100%;
   width: auto;
   height: auto;
   z-index: 0;
   transform: translateX(-50%) translateY(-50%);
 }
 
 .video-block .container {
   position: relative;
   z-index: 2;
 }
 
 .video-block .overlay {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   background-color: black;
   opacity: 0.5;
   z-index: 1;
 }

 @media (max-width: 551px) {  
  .video-block {
    position: relative;
    background-color: black;
    height: 950px;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    
  }
 }




