.footer {
  // margin-top: 50px;
   border: 0.3px solid rgba(97, 255, 255, 0.42);
}
.footer-inner{
   margin-top: 70px;
   height: 110px;
   display: flex;
   justify-content: space-between;
   position: relative;
   text-align: center;
   padding-bottom: -10px;
   .footer-block-logo {
      .my-link {
      display: flex;
      flex-direction: row;
      text-align: center;
      
      }
   }
   .footer-logo {
      width:155px;
      height:115px;
      margin-top: -30px;
      margin-left: -40px;
      display: block;

     

   }
   .footer-block-social {
      margin-top: 50px;
      display: flex;
   }
   .footer-title {
      display: block;
      align-self: center;
padding-top: 0px;
width: auto;
      margin-left: -35px;
     

font-family: Yrsa;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 40px;
margin-bottom: 0px;



align-items: center;
text-align: center;
letter-spacing: 0.195em;
text-transform: uppercase;

color: #FFFFFF;


   }
   .footer-phone {
      margin-top: 2px;
      margin-bottom: 0px;
a {
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
font-size: 18px;
/* identical to box height, or 0% */


align-items: center;
text-align: center;
letter-spacing: 0.065em;
text-transform: uppercase;

color: #FFFFFF;
&:hover {
  color: #06443D;

}
}
   }
   .social-block{
      margin-left: 30px;
      a{
         margin-left: 16px;
         img {
            &:hover {
               transform: scale(1.1);
            }
         }
      }
   }

}

@media (max-width: 900px) {  

   .footer {
      
      border: 0.3px solid rgba(97, 255, 255, 0.42);
   }
   .footer-inner{
     
      .footer-logo {
   
         
   
      }
      .footer-block-social {
         margin-top: 20px;
         display: flex;
         flex-direction: column;
      }
      .footer-title {
   
 
   
   font-family: Yrsa;
   font-style: normal;
   font-weight: normal;
   font-size: 32px;
   line-height: 40px;
   margin-bottom: 0px;
   
   
   
   align-items: center;
   text-align: center;
   letter-spacing: 0.195em;
   text-transform: uppercase;
   
   color: #FFFFFF;
   
   
      }
      .footer-phone {
         margin-top: 2px;
         margin-bottom: 0px;
   a {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
   font-size: 18px;
   /* identical to box height, or 0% */
   
   
   align-items: center;
   text-align: center;
   letter-spacing: 0.065em;
   text-transform: uppercase;
   
   color: #FFFFFF;
   }
      }
      .social-block{
         margin-left: 0px;
         a{
            &:first-child {
               margin-left: 5px;
            }
            margin-left: 32px;
         }
      }
   
   }

}


@media (max-width: 600px) {  

   .footer {
      
      border: 0.3px solid rgba(97, 255, 255, 0.42);
   }
   .footer-inner{
     
      .footer-logo {
   
         margin-left: -48px;
   
      }
      .footer-block-social {
         margin-top: 20px;
         display: flex;
         flex-direction: column;
      }
      .footer-title {
         margin-left: -40px;
 
   width: 140px;
   font-family: Yrsa;
   font-style: normal;
   font-weight: normal;
   font-size: 22px;
   line-height: 22px;
   margin-bottom: 0px;
   
   
   
   align-items: center;
   text-align: left;
   letter-spacing: 0.195em;
   text-transform: uppercase;
   
   color: #FFFFFF;
   
   
      }
      .footer-phone {
         margin-top: 0px;
         margin-bottom: 0px;
   a {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
   font-size: 14px;
   /* identical to box height, or 0% */
   
   
   align-items: center;
   text-align: center;
   letter-spacing: 0.065em;
   text-transform: uppercase;
   
   color: #FFFFFF;
   }
      }
      .social-block{
         margin-left: 0px;
         a{
            &:first-child {
               margin-left: 5px;
            }
            margin-left: 15px;
         }
      }
   
   }

}

