<footer class="footer">
   <div class="overflow-wrapper container footer-inner" >
      <div class="footer-block-logo">
         <a href="" class="my-link">
         <img src="/img/fl.png" alt="Logo" 
         width="155px" height="115px" class="footer-logo">
         <h2 class="footer-title">
            SIBERIA EXPLORER

         </h2>
      </a>
      </div>
      <div class="footer-block-social">
         <p class="footer-phone">
            <a href="" class="my-link">
               +7 800 555 35 35
            </a>
         </p>
         <div class="social-block">
            <a href="" class="social-link">
               <img src="/img/icons/so1.svg" alt="Social-icon" width="25px"
               height="25px"></a>
            <a href="" class="social-link">
               <img src="/img/icons/so2.svg" alt="Social-icon"  width="25px"
               height="25px"></a>
            <a href="" class="social-link">
               <img src="/img/icons/so3.svg" alt="Social-icon"  width="25px"
               height="25px"></a>
         </div>
      </div>

   </div>
</footer>