header {
   
  
   position: relative;
   
   z-index: 5;
   font-family: Montserrat;
   font-style: normal;
   font-weight: normal;
   color: #FFFFFF;
   .header__upper-nav{
      border-bottom: 0.1px solid rgba(97, 255, 255, 0.1);
      height: 40px;
      
   }
   .upper-nav{
      
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: end;
      .phone-block{
         width: 187px;
         height: 40px;
         background: rgba(17, 194, 173, 0.38);
         text-align: center;
         display: flex;
         align-items: center;
         font-family: Roboto;
         font-style: normal;
         font-weight: normal;
         font-size: 16px;
         
      
         letter-spacing: 0.085em;
         text-transform: uppercase;
         
         &:hover {
            background: rgba(17, 194, 173, 1);
         }
         p{
            margin: 0 auto;
            a{
               color:#FFFFFF;
               text-decoration: none;
            }
            
         }
      }
      .social-block {
         .social-link{
            margin-left: 30px;
            img {
               &:hover {
                  transform: scale(1.2);
               }
            }
            
         }
      }
      .lang-block {
         margin-left: 50px;
         font-family: Roboto;
font-style: normal;
font-weight: 500;
.btn:focus, .btn:active {
   box-shadow: none !important;
 }
         .dropdown-toggle::after {
            content: none;
            
            
         }
         
         
         .dropdown {
            position: relative;
            .dropdown-menu {
               background:none;
               min-width: auto;
               border: none;
              
               .dropdown-item {
                  background-color: none;

                  width: 24px;
                   padding: 0;
                   margin: 0;
                   padding-left: 2px;
                   
               }
               .dropdown-item:hover {
                  background-color: rgb(17,194,173);
               }
            }
            .dropdown-menu.show {
               transform: translate3d(-40px, 21px, 0px) !important;
            }
            
         
         }
         button {
            position: absolute;
            top:-5px;
            left: -40px;
            padding: 0;
            margin: 0;
            border: none;
            background:none;
            
            span {
               position: relative;
               img {
                  position: absolute;
                  top:10%;
                  left: 2px;
                  width: 7px;
                  height: 4px;
               }
            }
            padding-right: 13px;

         }
         a{
           color:#FFFFFF;
            text-decoration: none;
            z-index: 20;
         }
      }
   }
   .down-nav {
      
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      position: relative;
      .title-logo {
         img {
         width: 100px;
         height: 170px;
         }
         z-index: 10;
         position: absolute;
         top:-45%;
         left: 1%;
      }
      .title-text {
         margin-top: 40px;
         margin-left: 105px;
         font-family: 'Yrsa',sans-serif;
         font-style: normal;
         align-items: center;
         text-align: center;
         .title-text__upper{
            letter-spacing: 0.195em;
text-transform: uppercase;
            font-weight: 500;
            font-size: 64px;
            line-height: 30px;
         }
         .title-text__down{
            text-align: right;
            padding-right: 8px;
            letter-spacing: 0.21em;
text-transform: uppercase;
font-weight: 300;
font-size: 16px;
line-height: 40px;
         }
      }
      .down-nav__block-button {
         
         display: flex;
         align-items: center;
      }
      .btn-req {
         
         width: 165px;
height: 40px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 10px;
/* or 0% */

align-items: center;
text-align: center;
letter-spacing: 0.1em;
      color: #FFFFFF;
      border: 1px solid #FFFFFF;
      transition: all ease 0.8s;
      &:hover {
          
            box-shadow: inset 165px 0 0 0 rgba(17, 194, 173, 1);
            color: #fff;
        
      }
      }
      .btn-canv {
         img {
            height:40px; 
            width:40px;
         }
         margin-left: 51px;
      }

   }

   .btn-req-mobail {
      display: none;
      width: 181px;
      height: 40px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 10px;
      /* or 0% */
      
      align-items: center;
      text-align: center;
      letter-spacing: 0.1em;
            color: #FFFFFF;
            border: 1px solid #FFFFFF;
            transition: all ease 0.8s;
            &:hover {
                
                  box-shadow: inset 180px 0 0 0 rgba(17, 194, 173, 1);
                  color: #fff;
              
            }
   }
   

}
@media (max-width: 1100px) { 

   header {
     
      .down-nav {

         .title-logo {
            z-index: 10;
            position: absolute;
            top:-49%;
            left: 2%;
         }
         .title-text {
            margin-top: 40px;
            
            
            .title-text__upper{
               letter-spacing: 0.195em;
   text-transform: uppercase;
               font-weight: 500;
               font-size: 40px;
               line-height: 30px;
            }
            .title-text__down{
               letter-spacing: 0.3em;
   text-transform: uppercase;
   font-weight: 300;
   font-size: 10px;
   line-height: 30px;
            }
         }
         .down-nav__block-button {
           
         }
         .btn-req {
           
         }
         .btn-canv {
            margin-left: 51px;
         }
   
      }
   
      
      
   
   }

}

@media (max-width: 830px) { 

   header {
     
      .down-nav {

         .title-logo {
            z-index: 10;
            position: absolute;
            top:-28%;
            left: 5%;
         }
         .title-text {
            margin-top: 40px;
            
            
            .title-text__upper{
               letter-spacing: 0.195em;
   text-transform: uppercase;
               font-weight: 500;
               font-size: 40px;
               line-height: 30px;
            }
            .title-text__down{
               text-align: center;
               letter-spacing: 0.3em;
   text-transform: uppercase;
   font-weight: 300;
   font-size: 10px;
   line-height: 20px;
            }
         }
         
   
      }
   
      
      
   
   }

}
@media (max-width: 758px) { 

   header {
     
      .down-nav {

         .title-logo {
            z-index: 10;
            position: absolute;
            top:-20%;
            left: 5%;
         }
         .title-text {
            margin-top: 40px;
            
            
            .title-text__upper{
               letter-spacing: 0.195em;
   text-transform: uppercase;
               font-weight: 500;
               font-size: 40px;
               line-height: 30px;
            }
            .title-text__down{
               letter-spacing: 0.3em;
   text-transform: uppercase;
   font-weight: 300;
   font-size: 10px;
   line-height: 20px;
            }
         }
         
   
      }
   
      
      
   
   }

}

@media (max-width: 672px) { 

   header {
     
     
      .down-nav {
         
        
         .title-logo {
            z-index: 10;
            position: absolute;
            top:-20%;
            left: 0%;
         }
         .title-text {
            margin-top: 40px;
            margin-left: 50px;
            
            .title-text__upper{
               
            }
            .title-text__down{
               
            }
         }
         .down-nav__block-button {
            
            display: flex;
            align-items: center;
         }
         .btn-req {
            
            width: 140px;
   height: 30px;
        
         font-size: 9px;
         letter-spacing: 0.1em;
         color: #FFFFFF;
         border: 1px solid #FFFFFF;
         }
         .btn-canv {
            margin-left: 20px;
         }
   
      }
   
      
      
   
   }

}

@media (max-width: 551px) { 

   header {
     nav.main-nav {
      padding-bottom: 0px !important;
     }
     
      .down-nav {
         
        
         .title-logo {
            z-index: 10;
            position: absolute;
            top:-20%;
            left: 0%;
         }
         .title-text {
            margin-top: 40px;
            margin-left: 50px;
            
            .title-text__upper{
               
            }
            .title-text__down{
               
            }
         }
         .down-nav__block-button {
            
            display: flex;
            align-items: center;
         }
         .btn-req {
            display: none;
           
         }
         .btn-canv {
            margin-left: 20px;
         }
   
      }
   
      .btn-req-wrapper {
         display: flex;
         justify-content: center;
         margin: 0 auto;
      }
      .btn-req-mobail {
         display: block;
         position: absolute;
         z-index: 10;
         top:450%;
         
         //left:30%;
      }
   
   }

}


@media (max-width: 481px) {  
   header {
   .header__upper-nav{
      border-bottom: 0.3px solid rgba(97, 255, 255, 0.42);
      height: 40px;
      
   }
   .upper-nav{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .phone-block{
         font-size: 12px;
         width: 125px;
         height: 40px;
         background: rgba(17, 194, 173, 0.38);
         text-align: center;
         display: flex;
         align-items: center;

         p{
            margin: 0 auto;
            padding: 0;
            a{
               color:#FFFFFF;
               text-decoration: none;
            }
            
         }
      }
      .social-block {
         .social-link{
            margin-left: 20px;
            &:first-child {
               margin-left: 0px;
            }
         }
      }
      .lang-block {
         margin-left: 0px;
         a{
            color:#FFFFFF;
            text-decoration: none;
         }
      }
   }

   .down-nav {
         
        
      .title-logo {
         z-index: 10;
         position: absolute;
         top:-10%;
         left: 0%;
      }
      .title-text {
         margin-top: 40px;
         margin-left: 50px;
         
         .title-text__upper{
           
         }
         .title-text__down{
           
         }
      }
      .down-nav__block-button {
         
         display: flex;
         align-items: center;
      }
      .btn-req {
         display: none;
        
      }
      .btn-canv {

         margin-left: 0px;
      }
   }
}

}
@media (max-width: 410px) {  

   header {
      .down-nav {
         
        
         .title-logo {
            img {
            width: 80px;
            height: 120px;
            }
            z-index: 10;
            
            position: absolute;
            top:5%;
            left: -2%;
         }
         .title-text {
            margin-top: 40px;
            margin-left: 50px;
            
            .title-text__upper{
               
            }
            .title-text__down{
               
            }
         }
         .down-nav__block-button {
            
            display: flex;
            align-items: center;
         }
         .btn-req {
            display: none;
           
         }
         .btn-canv {
            img {
            width: 40px;
            
            }
            margin-left: 0px;
         }
      }
   }
}
@media (max-width: 360px) {   
   header {
      .down-nav {
         
        
         .title-logo {
            img {
               display: none;
           
            }
            z-index: 10;
            
            position: absolute;
            top:5%;
            left: -2%;
         }
         .title-text {
            margin-top: 40px;
            margin-left: 20px;
            
            .title-text__upper{
               
            }
            .title-text__down{
               
            }
         }
         .down-nav__block-button {
            
            display: flex;
            align-items: center;
         }
         .btn-req {
            display: none;
           
         }
         .btn-canv {
            img {
            width: 40px;
            
            }
            margin-left: 0px;
         }
      }
   }
}