.page-nav {
   margin-top: 10px;
   
   }
   .page-nav__text {
      a {
         margin-right: 0px;
      font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 13px;
   letter-spacing: 0.12em;
   color: #FFFFFF;
   &:hover {
      text-decoration: underline;
   }
      }
      a.active {
         color:gray;
         &:hover {
            text-decoration: none;
         }
      }
      
   }