<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
   <div class="offcanvas-header">
     <h5 id="offcanvasRightLabel">Offcanvas справа</h5>
     <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
   </div>
   <div class="offcanvas-body" style="background-color: white;">
     <a href="/">Главная</a>
     <a href="/index-catalog.html">Каталог</a>
     <a href="/index-single.html">Тур</a>
     <a href="/index-about.html">О компании</a>
     <a href="/index-blog.html">Blog</a>
     <a href="/index-single-blog.html">single-blog</a>
     <a href="/index-contact.html">Contact</a>
     <a href="/index-polit.html">Politic</a>

   </div>
 </div>