.offcanvas {
width: 299px;
background: rgba(4, 86, 81, 0.8);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 0px;
.offcanvas-header {
   justify-content: end;
}
.offcanvas-close {
   width: 28px;
   height: 28px;
    background-repeat: no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
 }
.offcanvas-body {
   padding: 0;
  
   .accordion {
      position: relative;
      z-index: 2;
      
      margin-left: -18px;
      padding-left: 18px;
   border-radius: 5px;
      border: none;
      .accordion-item{
         
         border: none;
         
         
      }
      .accordion-body {
         margin: 0;
         padding: 0;
         
      }
   .accordion-button{
      
      margin: 0;
   padding: 0;
      background-color: transparent;
   border: none;
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 24px;
   line-height: 28px;
   padding-left: 18px;
   color: #FFFFFF;
   height: 40px;
   background-repeat: no-repeat;
      background-position-x: 43%;
      background-position-y: 0%;
   

   }
   .accordion-button:not(.collapsed) {
      
      background-color: none;
      box-shadow: none;
  }
  .accordion-button:focus{
   z-index: 5;
   border-color: none;
   
   box-shadow: none;
   
  }
  .accordion-button:hover{
   z-index: 5;
   background-color: #034D48;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .accordion-button::after {
display: none;
}
.accordion-list{
   
   list-style: none;
   margin: 0;
   padding: 0;
   border-top: 0.3px solid #FFFFFF;

   .accordion-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 36px;
      margin: 0;
      a {
         padding-left: 33px;
         
         text-decoration: none;
         font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
/* identical to box height */


color: #FFFFFF;
      }
      a:hover {

      }
      &:hover {
         background: #034D48;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
   }
}
}
.offcanvas-item-wrapper {
   margin-top: 0px;
   display: flex;
   flex-direction: column;
   div {
      height: 40px;
      &:first-child {
         border-top: 0.01px solid rgb(255, 255, 255,0.5);
         border-bottom: 0.01px solid rgb(255, 255, 255,0.5);;
      }
      border-bottom: 0.01px solid rgb(255, 255, 255,0.5);;
      
   .offcanvas-item {
      
      padding-left: 18px;
      text-decoration: none;
      font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;


color: #FFFFFF;
   
   }
   &:hover {
      background-color: #034D48;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        
   }
}
}


}
.offcanvas-social {
   margin-top: 40px;
   display: flex;
   flex-direction: column;
   align-items: center;
   .btn-req {
        
      width: 189px;
height: 40px;
   font-style: normal;
   font-weight: normal;
   font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 10px;
/* or 0% */

align-items: center;
text-align: center;
letter-spacing: 0.1em;
   color: #FFFFFF;
   border: 1px solid #FFFFFF;
   transition: all ease 0.8s;
   &:hover {
       
         box-shadow: inset 300px 0 0 0 rgba(17, 194, 173, 1);
         color: #fff;
     
   }
   }
   .social-icon {
      margin-top: 32px;
      a {
         &:first-child{
            margin-left: 0px;
         }
         margin-left: 29px;
      }
   }
}
}
.modal-first {
   .modal-dialog {
     
   }
   .modal-content {
      background: #045651;
      box-shadow: 4px 4px 15px 2px rgba(55, 55, 55, 0.52);
      border-radius: 5px;
      width: 370px;
      .modal-header {
        
         border: none;
         padding: 0;
         display: block;
         
         margin-bottom: 40px;
         .modal-header__close {
            display: flex;
            justify-content: flex-end;
            padding-top: 7px;
            padding-right: 10px;
            
         }
         .modal-close {
            
            width: 30px;
             height: 30px;
    background-repeat: no-repeat;
    background-position-x: 20%;
    background-position-y: 20%;
    
         }
         
         h5 {
            margin-top: 8px;
            font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
text-align: center;
         text-transform: uppercase;
         color: #FFFFFF;
         }
      }
      .modal-body {
         margin-bottom: 30px;
         padding: 0;
         border: none;
         display: flex;
         flex-direction: column;
         align-items: center;
         input {
            border:none;
            background-image:none;
            background-color:transparent;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;

            padding: 15px;
            //margin-left: 62px;
            width: 246px;
background: #F1F1F1;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
margin-bottom: 30px;
            &::placeholder {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;

color: #8D8D8D;
            }

         }
         textarea {
            border:none;
            background-image:none;
            background-color:transparent;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
           // margin-left: 62px;
            width: 246px;
            background: #F1F1F1;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
padding: 15px;
margin-bottom: 16px;
&::placeholder {
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 21px;
   
   color: #8D8D8D;
               }

         }
         .polit {
            width: 237px;
            margin: 0;
            padding: 0;
          //  margin-left: 62px;
            font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;

color: #FFFFFF;
a {
   text-decoration: underline;
   color: white;
}
         }
      }
      .modal-footer {
         margin: 0;
         padding: 0;
         border: none;
         justify-content: center;
         .btn-req {
            margin-bottom: 24px;
            width: 246px;
            
      height: 52px;
         font-style: normal;
         font-weight: normal;
         font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 10px;
      /* or 0% */
      
      align-items: center;
      text-align: center;
      letter-spacing: 0.1em;
         color: #FFFFFF;
         border: 1px solid #FFFFFF;
         transition: all ease 0.8s;
         &:hover {
             
               box-shadow: inset 300px 0 0 0 rgba(17, 194, 173, 1);
               color: #fff;
           
         }
         }
      }
   }
}
@media (max-width: 600px) {  
   .modal-first {
      
      .modal-dialog {
         margin: 0;
         justify-content: center;
         
      }
      .modal-content {
         background: #045651;
         box-shadow: 4px 4px 15px 2px rgba(55, 55, 55, 0.52);
         border-radius: 5px;
         width: 340px;
         .modal-header {
           
            border: none;
            padding: 0;
            display: block;
            
            margin-bottom: 25px;
            .modal-header__close {
               display: flex;
               justify-content: flex-end;
               padding-top: 7px;
               padding-right: 10px;
               
            }
            .modal-close {
               
               width: 30px;
                height: 30px;
       background-repeat: no-repeat;
       background-position-x: 20%;
       background-position-y: 20%;
       
            }
            
            h5 {
               margin-top: 8px;
               font-family: Roboto;
   font-style: normal;
   font-weight: 500;
   font-size: 24px;
   line-height: 28px;
   text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
            }
         }
         .modal-body {
            margin-bottom: 20px;
            padding: 0;
            border: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            input {
               border:none;
               background-image:none;
               background-color:transparent;
               -webkit-box-shadow: none;
               -moz-box-shadow: none;
               box-shadow: none;
   
               padding: 15px;
               //margin-left: 62px;
               width: 246px;
   background: #F1F1F1;
   box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 5px;
   margin-bottom: 15px;
               &::placeholder {
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 21px;
   
   color: #8D8D8D;
               }
   
            }
            textarea {
               border:none;
               background-image:none;
               background-color:transparent;
               -webkit-box-shadow: none;
               -moz-box-shadow: none;
               box-shadow: none;
              // margin-left: 62px;
               width: 246px;
               background: #F1F1F1;
   box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 5px;
   padding: 15px;
   margin-bottom: 10px;
   &::placeholder {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      
      color: #8D8D8D;
                  }
   
            }
            .polit {
               width: 237px;
               margin: 0;
               padding: 0;
             //  margin-left: 62px;
               font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: 14px;
   
   color: #FFFFFF;
   a {
      text-decoration: underline;
      color: white;
   }
            }
         }
         .modal-footer {
            margin: 0;
            padding: 0;
            border: none;
            justify-content: center;
            .btn-req {
               margin-bottom: 24px;
               width: 246px;
               
         height: 52px;
            font-style: normal;
            font-weight: normal;
            font-family: Roboto;
         font-style: normal;
         font-weight: normal;
         font-size: 15px;
         line-height: 10px;
         /* or 0% */
         
         align-items: center;
         text-align: center;
         letter-spacing: 0.1em;
            color: #FFFFFF;
            border: 1px solid #FFFFFF;
            transition: all ease 0.8s;
            &:hover {
                
                  box-shadow: inset 200px 0 0 0 rgba(17, 194, 173, 1);
                  color: #fff;
              
            }
            }
         }
      }
   }

}