<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
   <div class="offcanvas-header">

     <button type="button" 
     class="btn offcanvas-close" 
     data-bs-dismiss="offcanvas" 
     style="background-image: url('/img/icons/cl2.png');"
     aria-label="Закрыть">

    </button>
   </div>

   <div class="offcanvas-body">
    <div class="accordion" id="accordionOffCanv">

    <div class="accordion-item bg-transparent">
      <h2 class="accordion-header bg-transparent" id="headingOffCanv">
        <button class="accordion-button collapsed my-btn accordion-custom-btn" type="button" data-bs-toggle="collapse" data-bs-target="#accOffCanv" 
        aria-expanded="false" aria-controls="accOffCanv" style="background-image: url('/img/icons/ad.png');">

           Все туры
        </button>
      </h2>
      <div id="accOffCanv" class="accordion-collapse collapse" aria-labelledby="accOffCanv" data-bs-parent="#accordionOffCanv">
        <div class="accordion-body">
          <ul class="accordion-list">
            <li class="accordion-item bg-transparent"><a href="/index-single.html">Байкал</a></li>
            <li class="accordion-item bg-transparent"><a href="/index-single-blog.html">Камчатка</a></li>
            <li class="accordion-item bg-transparent"><a href="/index-polit.html">Бурятия</a></li>
            <li class="accordion-item bg-transparent"><a href="">Сахалин</a></li>
            <li class="accordion-item bg-transparent"><a href="">Якутия</a</li>
            <li class="accordion-item bg-transparent"><a href="">Красноярский край</a></li>
            <li class="accordion-item bg-transparent"><a href="">Алтай</a></li>
          </ul>
        </div>
      </div>
    </div>
       </div>
       <div class="offcanvas-item-wrapper">
    <div>
       <a class="offcanvas-item" href="/index-catalog.html">Экспедиции</a></div>
       <div> <a class="offcanvas-item" href="/index-blog.html">Отчеты о путешествиях</a></div>
        <div> <a class="offcanvas-item" href="/index-about.html">О компании</a></div>
          <div> <a class="offcanvas-item" href="/index-contact.html">Контакты</a></div>
    </div>
     <div class="offcanvas-social">
      <button type="button" class="btn btn-req btn-outline-secondary">
        ОСТАВИТЬ ЗАЯВКУ
     </button>
     <div class="social-icon">
      <a href="" class="social-link">
        <img src="/img/icons/w.png" alt="Social-icon" width="25px"
        height="25px"></a>
     <a href="" class="social-link">
        <img src="/img/icons/fb.png" alt="Social-icon"  width="25px"
        height="25px"></a>
     <a href="" class="social-link">
        <img src="/img/icons/in.png" alt="Social-icon"  width="25px"
        height="25px"></a>
     </div>
     </div>

   </div>
 </div>