<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
   <div class="offcanvas-header">

     <button type="button" 
     class="btn offcanvas-close" 
     data-bs-dismiss="offcanvas" 
     style="background-image: url('/img/icons/cl2.png');"
     aria-label="Закрыть">

    </button>
   </div>

   <div class="offcanvas-body">
    <div class="accordion" id="accordionOffCanv">

    <div class="accordion-item bg-transparent">
      <h2 class="accordion-header bg-transparent" id="headingOffCanv">
        <button class="accordion-button collapsed my-btn accordion-custom-btn" type="button" data-bs-toggle="collapse" data-bs-target="#accOffCanv" 
        aria-expanded="false" aria-controls="accOffCanv" style="background-image: url('/img/icons/ad.png');">

           Все туры
        </button>
      </h2>
      <div id="accOffCanv" class="accordion-collapse collapse" aria-labelledby="accOffCanv" data-bs-parent="#accordionOffCanv">
        <div class="accordion-body">
          <ul class="accordion-list">
            <li class="accordion-item bg-transparent"><a href="/index-single.html">Байкал</a></li>
            <li class="accordion-item bg-transparent"><a href="/index-single-blog.html">Камчатка</a></li>
            <li class="accordion-item bg-transparent"><a href="/index-polit.html">Бурятия</a></li>
            <li class="accordion-item bg-transparent"><a href="">Сахалин</a></li>
            <li class="accordion-item bg-transparent"><a href="">Якутия</a</li>
            <li class="accordion-item bg-transparent"><a href="">Красноярский край</a></li>
            <li class="accordion-item bg-transparent"><a href="">Алтай</a></li>
          </ul>
        </div>
      </div>
    </div>
       </div>
       <div class="offcanvas-item-wrapper">
    <div>
       <a class="offcanvas-item" href="/index-catalog.html">Экспедиции</a></div>
       <div> <a class="offcanvas-item" href="/index-blog.html">Отчеты о путешествиях</a></div>
        <div> <a class="offcanvas-item" href="/index-about.html">О компании</a></div>
          <div> <a class="offcanvas-item" href="/index-contact.html">Контакты</a></div>
    </div>
     <div class="offcanvas-social">
      <button type="button" class="btn btn-req btn-outline-secondary"
      data-bs-dismiss="offcanvas" aria-label="Закрыть"
      data-bs-toggle="modal" data-bs-target="#exampleModal">
        ОСТАВИТЬ ЗАЯВКУ
     </button>
     <div class="social-icon">
      <a href="" class="social-link">
        <img src="/img/icons/so1.svg" alt="Social-icon" width="25px"
        height="25px"></a>
     <a href="" class="social-link">
        <img src="/img/icons/so2.svg" alt="Social-icon"  width="25px"
        height="25px"></a>
     <a href="" class="social-link">
        <img src="/img/icons/so3.svg" alt="Social-icon"  width="25px"
        height="25px"></a>
     </div>
     </div>

   </div>
 </div>


 <!-- Модальное окно -->
<div class="modal fade modal-first" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">

    <form name="modal-form" method="post">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-header__close">
          <button type="button" class="btn modal-close" style="background-image: url('/img/icons/Plus +.png');" data-bs-dismiss="modal" aria-label="Закрыть">
          </button>
        </div>
        <h5 class="modal-title" id="exampleModalLabel">ЗАЯВКА НА ТУР</h5>
        
      </div>
      <div class="modal-body">

        <input type="text" placeholder="Ваше имя">
        <input type="tel" placeholder="Телефон">
        <input type="email" placeholder="E-mail">
        <input type="number" placeholder="Количество туристов">
        <textarea placeholder="Дополнительно" rows="3"></textarea>
        <p class="polit">
          Нажимая на кнопку, я даю согласие на обработку моих персональных данных согласно <a href="" class="my-link"> политике компании </a>
        </p>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-req btn-outline-secondary">
          ОСТАВИТЬ ЗАЯВКУ
       </button>      
    </div>
    </form>

  </div>
</div>
