.main-body {
   position: relative;
   margin-top: 45px;
   .main-body__content {
      position: relative;
      display: flex;
      justify-content: space-between;
         .content__days {
            width: 100%;

         }
         .day {
            margin-top: 28px;
            .day-title {
               
               background-repeat: no-repeat;
               background-size: cover;
               width: 100%;
               height: 68px;
               border-radius: 10px;
               display: flex;
               
               position: relative;
               
               h3 {
                  cursor: pointer;
                  font-family: Roboto;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 20px;
                  line-height: 34px;  
                  display: flex;
                  align-items: center;
                  letter-spacing: 0.09em;                  
                  color: #FFFFFF;
                  padding-left: 21px;
                  padding-right: 30px;
               }
               img {
                  cursor: pointer;
                  width: 24px;
                  height: 24px;
                  position: absolute;
                  top:22px;
                  right:22px;
               }
               .open {
                  display: block;
               }
               .close {
                  display: none;
               }
               
            }
            .day-text {
               display: none;
               font-family: Roboto;
               font-style: normal;
               font-weight: normal;
               font-size: 18px;
               line-height: 34px;
/* or 189% */

           
            letter-spacing: 0.09em;

               color: #FFFFFF;
            }
         }
         
         .day.active {
            .day-title {
               height: 364px;
               display: flex;
               align-items: start;
               padding-top: 13px;
               .open {
                  display: none;
               }
               .close {
                  display: block;
               }
            }
            .day-text {
               display: block;
            }
         }

   }
}
.sidebar-wrp {
  
   height: auto;
}
.content__sidebar {
  position: sticky;
  top:20px;
   margin-top: 48px;
   margin-left: 24px;
   margin-bottom: 10px;
   .calendar-card {
      
   
  
     
      
      max-width: 379px;
      height: auto;


      background: rgba(20, 224, 200, 0.2);
      box-shadow: 0px 5px 4px 3px #045651;
      border-radius: 20px;
      
         

   }
   .calendar-add-block {
      
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      height: 34px;
      width: 285px;
      
      .calendar-add {
         margin-top: -18px;
         display: block;
         width: 20px;
         height: 36px;
         background: #045651;
         box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
         border-radius: 5px;
      }

   }
   .sidebar__text-block {
      margin-left: 32px;
      margin-top: 26px;
      display: flex;
      
      
      img {
         display: flex;
         
         width: 40px;
         height: 40px;
      }
      p {
         margin-left: 21px;
         font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 34px;
/* identical to box height, or 170% */
letter-spacing: 0.09em;
text-transform: uppercase;
color: #FFFFFF;
      }
   }
   .dif {
      padding: 0;
      margin: 0;
      display: flex;
      li {
         list-style-type: none;
         margin-right: 20px;
         img {
            width: 33px;
            height: 35px;
         }

      }
   }
   .sidebar__map {
      margin-top: 40px;
      margin-left: 9px;
      margin-right: 9px;
     // background-image: url(/img/icons/se2.png);
     ///img/im.png
      .map {
         max-width: 100%;
         height: 400px;
      }
     
   }
   .btn-wrapper {
      margin-top:25px;
      padding-bottom: 35px;
      width: 100%;
      display: flex;
      justify-content: center;
   }
   .btn-sidebar {
      text-align: center;
      
      width: 277px;
      height: 63px;
   
      
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
/* or 0% */

align-items: center;
text-align: center;
letter-spacing: 0.1em;
      color: #FFFFFF;
      border: 1px solid #FFFFFF;
      transition: all ease 0.8s;
      &:hover {
          
            box-shadow: inset 277px 0 0 0 rgba(17, 194, 173, 1);
            color: #fff;
        
      }
    }

}
@media (max-width: 900px) {  
   .main-body {
     
      .main-body__content {
        
            .content__days {
              
   
            }
            .day {
               .day-title {
                  
                
                  
                  h3 {
                 
                     font-size: 14px;
                     line-height: 34px;
                    
                  }
                  img {
                     top:16px;
                     right:22px;
                  }
                  .open {
                     display: block;
                  }
                  .close {
                     display: none;
                  }
                  
               }
               .day-text {
                
                  font-size: 14px;
                  line-height: 27px;

               }
            }
            
            .day.active {
               .day-title {
                 
                  .open {
                  }
                  .close {
                  }
               }
               .day-text {
               }
            }
   
      }
   }
   .sidebar-wrp {
  
}
.content__sidebar {

   .calendar-card {
      
   
  
     
      
      max-width: 359px;
     
         

   }
   .calendar-add-block {
      
     
      
      .calendar-add {
       
      }

   }
   .sidebar__text-block {
  
      
      
      img {
       
      }
      p {
       
      }
   }
   .dif {
    
      li {
        
         img {
          
         }

      }
   }
   .sidebar__map {
 
      .map {
   
      }
     
   }
   .btn-wrapper {
 
   }
   .btn-sidebar {
     
      &:hover {
          
         
      }
    }

}
}

@media (max-width: 750px) {  
   .main-body {
      margin-top: 32px;
      margin-bottom: 32px;
     
      .section-title {
         margin-top: 0px;
      }
      .main-body__content {
         flex-direction: column;
        
            .content__days {
               order: 0;
   
            }
            .day {
               .day-title {
                  
                
                  
                  h3 {
                 
                     font-size: 14px;
                     line-height: 34px;
                    
                  }
                  img {
                   
                  }
                  .open {
                     display: block;
                  }
                  .close {
                     display: none;
                  }
                  
               }
               .day-text {
                
                  font-size: 14px;
                  line-height: 27px;

               }
            }
            
            .day.active {
               .day-title {
                 
                  .open {
                  }
                  .close {
                  }
               }
               .day-text {
               }
            }
   
      }
   }
   .sidebar-wrp {
  order: -1;
  margin: 0 auto;
}
.content__sidebar {
   margin-left: 0;
   margin-right: 0;
   .calendar-card {
      
      position: relative;
   
  
     
      
      max-width: 359px;
     
         

   }
   .calendar-add-block {
      
     
      
      .calendar-add {
       
      }

   }
   .sidebar__text-block {
  
      
      
      img {
       
      }
      p {
       
      }
   }
   .dif {
    
      li {
        
         img {
          
         }

      }
   }
   .sidebar__map {
 
      .map {
   
      }
     
   }
   .btn-wrapper {
 
   }
   .btn-sidebar {
     
      &:hover {
          
         
      }
    }

}
}
@media (max-width: 376px) {  

   .main-body {
      margin-top: 32px;
     
      .section-title {
         margin-top: 0px;
      }
      .main-body__content {
         flex-direction: column;
        
            .content__days {
               order: 0;
   
            }
            .day {
               .day-title {
                  
                
                  
                  h3 {
                 
                     font-size: 14px;
                     line-height: 34px;
                    
                  }
                  img {
                   
                  }
                  .open {
                     display: block;
                  }
                  .close {
                     display: none;
                  }
                  
               }
               .day-text {
                
                  font-size: 14px;
                  line-height: 27px;

               }
            }
            
            .day.active {
               .day-title {
                 
                  .open {
                  }
                  .close {
                  }
               }
               .day-text {
               }
            }
   
      }
   }
   .sidebar-wrp {
  order: -1;
  margin: 0 auto;
}
.content__sidebar {
   margin-left: 0;
   margin-right: 0;
   .calendar-card {
      
      position: relative;
   
  
     
      
      max-width: 359px;
     
         

   }
   .calendar-add-block {
      
     
      
      .calendar-add {
       
      }

   }
   .sidebar__text-block {
  
      
      
      img {
       
      }
      p {
       
      }
   }
   .dif {
    
      li {
        
         img {
          
         }

      }
   }
   .sidebar__map {
 
      .map {
   
      }
     
   }
   .btn-wrapper {
 
   }
   .btn-sidebar {
     
      &:hover {
          
         
      }
    }

}

}