@import "header";
@import "slider";
@import "uper-main";
@import "main-body";
@import "section-title";
@import "will-see";
@import "footer";


.container {
  max-width: 1184px;
  overflow: hidden;
}
.container-large {
 // max-width: 1900px;
  
  margin-left: 48px;
  margin-right: 48px;
 // overflow: hidden;
}
.overflow-wrapper.container {
  overflow: visible;
  max-width: 1184px;
}
html {
  max-width: 100%;
   // overflow-x: hidden;
  
}
body {
  position: relative;
  background: linear-gradient(180deg, #02201C 21.88%, #06443D 35.94%, rgba(9, 102, 91, 0.893633) 81.06%, #11C2AD 96.03%);  position: relative;
  max-width: 100%;
   // overflow-x: hidden;
 
}
.my-btn {
   padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
.my-link {
  text-decoration:none;
}
@media (max-width: 1184px) {  
  .container-large { 
    margin-left: 8px;
    margin-right: 8px;
  }
}
