.page-nav {
   margin-top: 10px;
   
   }
   .page-nav__text {
      a {
      font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 13px;
   letter-spacing: 0.12em;
   color: #FFFFFF;
   &:hover {
      color: aqua;
   }
      }
   }
.upper-main {
   margin-top: 20px;
   .upper-main__text {
      max-width: 1184px;
      font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 34px;
/* or 170% */

text-align: left;
letter-spacing: 0.09em;

color: #FFFFFF;
   }
}