.blog-main {
   margin-bottom: 52px;
   .blog-main__card-wrapper {

   }
   .report._animate {
      .report-text__title {
         text-decoration: underline;
      }
   }
   .blog-main__card  {
      margin-top: 64px;
      display: flex;
      
      .report {
         display: flex;
         &:hover {
            .report-text__title {
               text-decoration: underline;
            }
         }
         .blog-card__img {
            width: 379px;
            height: 288px;
            border-radius: 5px;
            margin-right: 24px;
            img {
               min-width: 100%;
               min-height: 100%;
            }
         }

         .report-text {

            .report-text__location {
               display: flex;
               margin-bottom: 15px;
               
               img {
                  margin-right: 4px;
                  width: 30px;
                  height: 30px;
               }
               p {
                  margin: 0;
                  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 40px;

letter-spacing: 0.09em;
text-transform: uppercase;
color: #FFFFFF;
               }
            }
            .report-text__title {
               margin-bottom: 16px;
               font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 20px;
/* or 83% */

letter-spacing: 0.09em;

color: #FFFFFF;
            }
            .report-text__descr {
               margin-bottom: 16px;
               font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 30px;
/* or 167% */

text-align: justify;

color: #FFFFFF
            }
            .report-text__more {
               display: flex;
               margin-top: 16px;
               a {
                  margin-right: 4px;
                  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 12px;
/* identical to box height, or 100% */

display: flex;
align-items: center;
letter-spacing: 0.145em;
text-decoration-line: underline;
text-transform: lowercase;

color: #E0FCF9;
&:hover {
   color: aqua;
}
               }
               img {
                  align-self: center;
                  width: 24px;
                  height: 4px;
               }
            }
         }
      }
   }
   .test {
      display: flex; 
      justify-content: space-between;
   }
   .blog-card__rev {
      
      margin-left: 24px;
      width: 278px;
      height: 197px;
      
      background: rgba(4, 86, 81, 0.4);
      border-radius: 10px;
      
     
      
      p {
        

         width: 278px;
         max-height: 181px;
         padding-top: 8px;
         padding-left: 20px;
         padding-right: 12px;
         padding-bottom: 8px;
         margin: 0;
         font-family: Roboto;
font-style: italic;
font-weight: normal;
font-size: 16px;
line-height: 27px;
/* or 169% */

letter-spacing: -0.025em;

color: #FFFFFF;

      }
   }
}
.blog-main__pagination {
   margin-top: 40px;
   .pag-wrapper {
      margin-left: 5px;
      display: flex;
      justify-content: flex-end;
   }
   span {
      cursor: pointer;
      margin-right: 24px;
      font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 111% */

letter-spacing: 0.09em;

color: #FFFFFF;

   }
   .cur-pag {
      font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 111% */

letter-spacing: 0;
text-decoration-line: underline;

color: #FFFFFF;
   }
   .pag-next {
      margin-right: 0;
      img { 
         margin-left: -5px;
      width: 15px;
height: 15px;
}
   }
  
}
@media (max-width: 1001px) {   
   .blog-main {
      
      .blog-main__card-wrapper {
   
      }
      .blog-main__card  {
         margin-top: 64px;
         display: flex;
         .report {
            display: flex;
            flex-direction: column;
            align-items: center;
            .blog-card__img {
               
            
               border-radius: 5px;
               margin-right: 0px;
               img {
                  margin: 0 auto;
                  width: 359px;
                  height: 288px;
               }
            }
   
            .report-text {
   
               .report-text__location {
                  display: flex;
                  margin-bottom: 15px;
                  
                  img {
                     
                     width: 30px;
                     height: 30px;
                  }
                  p {
                     margin: 0;
                     font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 40px;
   
   letter-spacing: 0.09em;
   text-transform: uppercase;
   color: #FFFFFF;
                  }
               }
               .report-text__title {
                  margin-bottom: 16px;
                  font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 20px;
   /* or 83% */
   
   letter-spacing: 0.09em;
   
   color: #FFFFFF;
               }
               .report-text__descr {
                  margin-bottom: 16px;
                  font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 30px;
   /* or 167% */
   
   text-align: justify;
   
   color: #FFFFFF
               }
               .report-text__more {
                  display: flex;
                  margin-top: 16px;
                  a {
                     margin-right: 4px;
                     font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   line-height: 12px;
   /* identical to box height, or 100% */
   
   display: flex;
   align-items: center;
   letter-spacing: 0.145em;
   text-decoration-line: underline;
   text-transform: lowercase;
   
   color: #E0FCF9;
   &:hover {
      color: aqua;
   }
                  }
                  img {
                     align-self: center;
                     width: 24px;
                     height: 4px;
                  }
               }
            }
         }
      }
      .test {
         display: flex; 
         justify-content: space-between;
      }
      .blog-card__rev {
         
         margin-left: 24px;
         width: 278px;
         height: 197px;
         
         background: rgba(4, 86, 81, 0.4);
         border-radius: 10px;
         
        
         
         p {
           
   
            width: 278px;
            max-height: 181px;
            padding-top: 8px;
            padding-left: 20px;
            padding-right: 12px;
            padding-bottom: 8px;
            margin: 0;
            font-family: Roboto;
   font-style: italic;
   font-weight: normal;
   font-size: 16px;
   line-height: 27px;
   /* or 169% */
   
   letter-spacing: -0.025em;
   
   color: #FFFFFF;
   
         }
      }
   }
 
   
}
@media (max-width: 615px) {   
.blog-main {
   margin-bottom: 52px;
   .blog-main__card-wrapper {

   }
   .blog-main__card  {
      margin-top: 64px;
      display: flex;
      .report {
         display: flex;
         flex-direction: column;
         align-items: center;
         .blog-card__img {
            margin-bottom: 16px;
            width: auto;
            height: 288px;
         
            border-radius: 5px;
            margin-right: 0px;
            img {
               margin: 0 auto;
               width: 350px;
               height: 288px;
            }
         }
         .report-text {

            .report-text__location {
               
               display: flex;
               margin-bottom: 15px;
               
               img {
                  
                  width: 30px;
                  height: 30px;
               }
               p {
         
               }
            }
            .report-text__title {
              
            }
            .report-text__descr {
              
            }
            .report-text__more {
               display: flex;
               margin-top: 16px;
               a {
                  margin-right: 4px;
                  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 12px;
/* identical to box height, or 100% */

display: flex;
align-items: center;
letter-spacing: 0.145em;
text-decoration-line: underline;
text-transform: lowercase;

color: #E0FCF9;
&:hover {
   color: aqua;
}
               }
               img {
                  align-self: center;
                  width: 24px;
                  height: 4px;
               }
            }
         }
      }
   }
   .test {
      display: flex; 
      flex-direction: column;
      justify-content: center;
   }
   .blog-card__rev {
      align-self: center;
      margin-left: 0px;
      width: 350px;
      height: 197px;
      
      background: rgba(4, 86, 81, 0.4);
      border-radius: 10px;
      
     
      
      p {
        
         
         width: 327px;
         max-height: 135px;
         padding-top: 8px;
         padding-left: 20px;
         padding-right: 12px;
         padding-bottom: 8px;
         margin: 0;
         font-family: Roboto;
font-style: italic;
font-weight: normal;
font-size: 16px;
line-height: 27px;
/* or 169% */

letter-spacing: -0.025em;

color: #FFFFFF;

      }
   }
}
.blog-main__pagination {
   margin-top: 40px;
   .pag-wrapper {
      margin-left: 5px;
      display: flex;
      justify-content: flex-end;
   }
   span {
      cursor: pointer;
      margin-right: 24px;
      font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 111% */

letter-spacing: 0.09em;

color: #FFFFFF;

   }
   .cur-pag {
      font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 20px;
/* identical to box height, or 111% */

letter-spacing: 0;
text-decoration-line: underline;

color: #FFFFFF;
   }
   .pag-next {
      margin-right: 0;
      img { 
         margin-left: -5px;
      width: 15px;
height: 15px;
}
   }
  
}
}