.page-nav {
margin-top: 10px;
}
.page-nav__text {
   a {
   font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 13px;
letter-spacing: 0.12em;
color: #FFFFFF;
&:hover {
   color: aqua;
}
   }
}
.filtr {
   margin-top: 20px;
   
}
.filtr-upper {
   margin: 0 auto;
   max-width: 655px;
   display: flex;
   justify-content: space-between;
   .filtr-upper__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
         width: 76px;
         height: 76px;
      }
      h3 {
         font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 34px;
/* identical to box height, or 189% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.09em;

color: #FFFFFF;
      }
   }
}
